body {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    font-size: 18px;
}

.key, .keylong {
    font-size: 25px;
    border: 2px solid white;
    padding: 8px 8px 8px 8px;
    text-align: center;
}

.key {
    width: 50px;
}

.key:hover {
    background-color: rgba(128, 128, 128, 0.144);
}

.keylong:hover {
    background-color: rgba(128, 128, 128, 0.144);
}

.keylong {
    width: 150px;
    margin-top: 10px;
}

.gridBox1, .gridBox2, .gridBox3, .gridBox4, .gridBox5 {
    font-size: 25px;
    border: 2px solid white;
    padding: 8px 8px 8px 8px;
    text-align: center;
    width: 65px;
    height: 55px;
    margin-bottom: 12px;
}

#keyboard {
    display: none;
}